.row .form-item{font-size:13px;}
#search-block-form .form-item input {padding: 8px 3%; height:19px;}
.data input{padding:8px 0 8px 5px; height:16px;}
.res-btn button{ border: 1px solid #c0bbbb;}
.sub-btm button{border: none;}
.sub-btn {background:##858585;}
.formCost ladel,.formCost input{font-size:10px;}
.formCost ladel{line-height:18px;}
.res-btn {margin-bottom:10px;}